* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background: radial-gradient(46.41% 73.99% at 46.63% 48.05%, #20135C 0%, #140739 92.82%);
    box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 100vh;
}

:root {
    --card_width : 373px;
    --caed_height: 208px;
}


header {
    width: 80%;
    display: flex;
    justify-content: space-between;
    float: right;
    align-items: center;
    padding: 24px 32px;
    border-bottom: 1px solid #2D317A;
    position: absolute;
    right: 0px;
    z-index: 10;

    form {
        background: #161245;
        box-shadow: 0px 4px 20px rgba(3, 16, 52, 0.5);
        border-radius: 25px;
        padding: 7px 15px;
        display: flex;
        align-items: center;
        gap: 10px;

        input, button {
            all: unset;
            color: white;
            cursor: pointer;
        }
    }

    .right {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}


aside {
    width: 19%;
    height: 100vh;
    background: linear-gradient(0.32deg, rgba(28, 35, 64, 0) -5.79%, #1C0F54 114.59%);
    filter: drop-shadow(0px -5px 25px rgba(0, 3, 32, 0.5));
    border-radius: 8px 0px 0px 8px;
    padding: 15px 24px;

    nav {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding: 20px 0px;
        a {
            background: #32395E;
            border-radius: 5px;
            width: 100%;
            padding: 15px 16px;

            display: flex;
            align-items: center;
            gap: 16px;

            span {
                color: white;
                font-size: 14px;
                font-weight: 600;
            }
            text-decoration: none;
            border-bottom: 2px solid #1288E8;
        }
    }
}

main {
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;

    .content {
        width: 80%;
        height: 100%;
        // background-color: red;
        position: fixed;
        right: -100%;
        bottom: 0%;
        top: 100px;
        transition: .5s ease;
        color: white;

        // &:nth-child(2) {
        //     background-color: green;
        // }
        // &:nth-child(3) {
        // }
        // &:nth-child(4) {
        //     background-color: skyblue;
        // }
    }

    .activePage {
        transition: .5s ease;
        right: 0%;
    }

    .wallets {
        margin-top: 25px;
        display: flex;
        // align-items: center;
        gap: 15px;
        .block1 {
            width: var(--card_width);
            height: var(--caed_height);
            background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) 0%, #0F0B38 93.37%);
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            align-items: center;

            div {
                width: 200px;
                position: absolute;
                div {
                    height: 90px;
                    width: 90px;
                    border-radius: 100px;
                    background-color: #140739;
                    position: relative;
                    top: -118px;
                    left: 55px;
                    z-index: 10;
                    .first {
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;
                        /* identical to box height */

                        text-transform: capitalize;

                        color: #616A8B;
                        position: relative;
                        top: 20px;
                        left: 20px;
                    }
                    p {
                        font-weight: 700;
                        font-size: 18px;
                        line-height: 25px;
                        position: relative;
                        top: 20px;
                        left: 18px;
                    }
                }
            }
        }

        .block2 {
            width: var(--card_width);
            height: var(--caed_height);
            background: linear-gradient(237.07deg, rgba(96, 67, 146, 0.5) -8.06%, rgba(15, 11, 56, 0.5) 96.63%);
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 16px;
            p {
                font-weight: 700;
                font-size: 18px;
                line-height: 19px;
                text-transform: capitalize;
            }
            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .nums {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .pices {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        .pr {
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 16px;
                            /* identical to box height */
                            color: #616A8B;
                        }
                    }
                    .img {
                        width: 44px;
                        height: 44px;
                        background: #644696;
                        border-radius: 50px;
                        img {
                            position: relative;
                            top: 8px;
                            left: 12px;
                            width: 19px;
                            height: 26px;
                        }
                    }
                }
            }
            img {
                width: 100%;
            }
        }
        .block3 {
            width: var(--card_width);
            height: var(--caed_height);
            background: linear-gradient(237.07deg, #6162D6 -8.06%, #0F0B38 96.63%);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 16px;
            p {
                font-weight: 700;
                font-size: 18px;
                line-height: 19px;
                text-transform: capitalize;
            }
            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .nums {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .pices {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        .pr {
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 16px;
                            /* identical to box height */
                            color: #616A8B;
                        }
                    }
                    .img {
                        width: 44px;
                        height: 44px;
                        background: #3A3888;
                        border-radius: 50px;
                        img {
                            position: relative;
                            top: 8px;
                            left: 12px;
                            width: 19px;
                            height: 26px;
                        }
                    }
                }
            }
            img {
                width: 100%;
            }
        }
        .block4 {
            width: var(--card_width);
            height: var(--caed_height);
            background: linear-gradient(237.07deg, #72EB38 -8.06%, #0F0B38 96.63%);
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 16px;
            p {
                font-weight: 700;
                font-size: 18px;
                line-height: 19px;
                text-transform: capitalize;
            }
            .info {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                .nums {
                    display: flex;
                    align-items: center;
                    gap: 15px;
                    .pices {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-end;
                        .pr {
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 16px;
                            /* identical to box height */
                            color: #616A8B;
                        }
                    }
                    .img {
                        width: 44px;
                        height: 44px;
                        background: #345A38;
                        border-radius: 50px;
                        img {
                            position: relative;
                            top: 7px;
                            left: 7px;
                            width: 30px;
                            height: 30px;
                        }
                    }
                }
            }
            img {
                width: 100%;
            }
        }
    }

    .two_blocks{
        display: flex;
        gap: 25px;
        margin-top: 25px;

        .left_block {
            width: 602px;
            height: 459px;
            background: linear-gradient(176.95deg, rgba(27, 18, 78, 0.2) -32.8%, #0F0B38 88.83%);
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
            border-radius: 5px;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
        }

        .right_block {
            padding: 20px;
            width: 100%;
            height: 459px;
            background: linear-gradient(176.95deg, rgba(27, 18, 78, 0.2) -32.8%, #0F0B38 88.83%);
            border-radius: 5px;
            overflow-y: scroll;
            p {
                font-style: normal;
                font-weight: 600;
                font-size: 20px;
                line-height: 25px;
                /* identical to box height */

                text-transform: capitalize;
                height: 40px;
                border-bottom: #32395E solid 1px;
                margin-bottom: 20px;
            }
            .fortranses {
                // overflow: auto;
                // overflow-y: scroll;
                display: flex;
                flex-direction: column;
                gap: 10px;
                // height:300px;
                overflow-y: hidden;
                .box {
                    background-image: url('../public/icons/trans.png');
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 5px;
                    height: 40px;
                    width: 100%;
                }
            }
        }
    }

}



.exchangetext {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.exchangeblock {
    margin-top: 16px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 40px;
    padding-right: 32px;
}

.fromto {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 19px;
    text-transform: capitalize;
    color: #616A8B;
    margin-bottom: 14px;
}

.exchangefrom {
    padding: 35px 35px 31px 35px;
    height: 256px;
    background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) 0%, #0F0B38 93.37%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.wrap {
    display: flex;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.currency {
    width: 110px;
    height: 110px;
    background-image: url(../public/images/bitcoin.png);
    background-size: cover;
}

.select {
    width: fit-content;
    border: none;
    height: 40px;
    background-color: transparent;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 35px;
    text-transform: capitalize;
    color: #FFFFFF;
    outline: none;
    cursor: pointer;
}

.select option {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    line-height: 35px;
    text-transform: capitalize;
    color: black;
    cursor: pointer;
}

.exchangecurreny {
    width: 100%;
    height: 50px;
    background: #32395E;
    border-radius: 5px;
    border-bottom: 2px solid #1288E8;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 18px;
    margin-top: 20px;
}

.inp {
    all: unset;
    color: white;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
}

.currencyname {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 33px;
    text-transform: capitalize;
    color: #FFFFFF
}

.grid {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    padding-right: 32px;
}

.exchangeinfoblock {
    height: 143px;
    background: linear-gradient(180deg, rgba(27, 18, 78, 0.2) -153.98%, #0F0B38 140.59%);
    box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 35px;
}

.currencyfrominfo {
    display: flex;
    align-items: center;
    gap: 18px;
}

.currencytext {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 33px;
    text-transform: capitalize;
    color: #FFFFFF;
}

.currencyimg {
    width: 65px;
    height: 65px;
    background-image: url(../public/images/bitcoin2.png);
}

.currencyimg2 {
    width: 65px;
    height: 65px;
    background-image: url(../public/images/grc.png);
}

.exchange {
    width: 125px;
    height: 42px;
    background: linear-gradient(88.43deg, #1288E8 11.5%, #0097E8 76.7%);
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.15);
    border-radius: 8px;
    border: none;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin-top: 40px;
    cursor: pointer;
}